* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.3;
}
ul {
  list-style: none;
}
.tabmenu {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.tabmenu ul li {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  background: rgb(235, 234, 234);
}
.tabmenu ul li a {
  display: block;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  color: #000;
}
.tabCon {
  display: none;
  text-align: left;
  padding: 20px;
  width: 335px;
  position: absolute;
  left: 0;
  top: 40px;
  box-sizing: border-box;
  background-color: rgb(247, 255, 241);
  border: 5px solid rgb(247, 255, 241);
}
.btnCon:target {
  background: rgb(247, 255, 241);
}
.btnCon:target .tabCon {
  display: block;
}
#createCategory {
  margin-left: 15%;
  margin-right: 15%;
  border-spacing: 10px;
}
#createTodo {
  margin-left: 20px;
  border-spacing: 5px;
}
